body {
    margin: 0;
    background-color: white;
    font-family: 'Noto Serif JP', serif;
}

input {
    font-family: 'Noto Serif JP', serif;
}

button {
    font-family: 'Noto Serif JP', serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

#main {
    background-color: white;
    height: 100vh;
    animation: 1 loadIn 3.5s linear;
    animation-fill-mode: both;
    overflow-x: hidden;
}

#listTitle {
    display: flex;
    justify-content: center;
    font-size: 2.5em;
    color: black;
}

#fallenFoodContainer {
    display: flex;
    flex-direction: row;
    gap: 5%;
    flex-wrap: wrap;
    width: 100%;
    bottom: 0;
    position: fixed;
    z-index: -1;
    animation: 1 fallIntoPlace 3.5s linear;
    animation-fill-mode: both;
}

.falling-food {
    position: relative;
    width: auto;
    height: fit-content;
    animation: 1 spin 4s linear;
    animation-fill-mode: both;
}

.falling-food img {
    width: 100%;
    height: 100%;
}

#multipleFoods {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(14, 1fr);
}

.spinner {
    height: 100vh;
    opacity: 1;
    position: relative;
    transition: opacity linear 0.1s;
}

.spinner::before {
    animation: 2s linear infinite spinner;
    border: solid 3px #eee;
    border-bottom-color: #EF6565;
    border-radius: 50%;
    content: "";
    height: 40px;
    left: 50%;
    opacity: inherit;
    position: absolute;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    transform-origin: center;
    width: 40px;
    will-change: transform;
}


@keyframes spinner {
    0% {
        transform: translate3d(-50%, -50%, 0) rotate(0deg);
    }

    100% {
        transform: translate3d(-50%, -50%, 0) rotate(360deg);
    }
}

@keyframes fallIntoPlace {
    0% {
        transform: translateY(-200%);
        visibility: visible;
        height: 100%;
    }

    100% {
        transform: translateY(500px);
        visibility: hidden;
        height: 0;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0);
        opacity: 1;
    }

    100% {
        transform: rotate(720deg);
        opacity: 0.2;
    }
}

@keyframes loadIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media (max-width: 650px) {
    .falling-food img {
        width: 6em;
    }
}

@media (max-width: 450px) {
    #listTitle {
        font-size: 1.9em;
    }

    .falling-food img {
        width: 3.5em;
    }
}