body {
    margin: 0;
    background-color: #1C3738;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

#listTitle {
    display: flex;
    justify-content: center;
    font-size: 2.5em;
    color: #F4FFF8;
}