#formContainer {
    display: flex;
    justify-content: center;
    width: 100%;
}

#form {
    display: flex;
    justify-content: space-between;
    gap: 5%;
}

#form input {
    font-size: 1.5em;
}

#form button {
    padding: 0 30px;
    border-radius: 10px;
}