#ingredientContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 7%;
    max-width: 950px;
    min-height: 200px;
    margin: 2% auto;
}